:root {
  azul-footer: linear-gradient(to right, red, yellow); }

#footer {
  background-color: rgba(0, 0, 0, 0.15); }

.azul-footer {
  background-color: black; }

.titulo-footer {
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 2px solid gray; }

footer a:hover {
  font-weight: bolder;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.ver-mas {
  color: gray;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.ver-mas:hover {
  color: red;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }
