.foto-federacion{
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.foto-modal{
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.foto-modal-directorio{
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal-xl{
    max-width: 80% !important;
    margin: auto;
    margin-top:100px;
}