.cabecera-pagina{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.sombra-texto{
    text-shadow: rgba(0, 0, 0, .6) 0px 0px 10px;
}